body {
	background-color: black;
	font-family: 'Press Start 2P', cursive;
	color: green;
}

h1 {
	font-size: 20px;
}

#board {
	height: 200px;
	width: 200px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
}

.board-row {
	flex: 1;
	display: flex;
}

#board button {
	flex: 1;
	font-size: 50px;
}

.top-row {
	border: 1px solid white;
}